# g2hr configs
data/g2hr.cfg

# wine prefix
build/wineprefix

# core dumps. this rule never hits anything of course.
core.*
vgcore.*


# PKGBUILDs
build/PKGBUILDs/*/pkg
build/PKGBUILDs/*/src
build/PKGBUILDs/*/*.xz
build/PKGBUILDs/*/*.gz
build/PKGBUILDs/*/*.part


# GTA2 files
GTA2/*
!GTA2/README.md
*.sty
*.tga
*.raw
*.sdt
*.wav
*.hsc
*.dat
*.gxt

# Converted some TGAs with imagemagick
*.jpg

# Logs, eg. from std2wav
*.log

# Compiled Object files
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.x86_64
*.i686
*.bin

# Valgrind SDL2 init rule (make valgrind)
*.sup
