# GTA2 files copied to the code tree for testing
*.sty
*.tga
*.raw
*.sdt
*.wav

# Logs, eg. from std2wav
*.log

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.x86_64
*.i686


# Code::Blocks project files
*.cbp
*.depend
*.layout

# Visual Studio (2013, add others if you need) project files
# see also: http://git.io/visual-studio-gitignore
# VS project root
Debug/
Release/
ipch/
*.sdf
*.sln
*.suo
*.opensdf

# VS project: dmavideo folder
*.vcxproj
*.filters
*.user
*.def
